<!-- Filters -->
<form class="hidden lg:block">
  <h3 class="sr-only">Categories</h3>
  <ul
    role="list"
    class="space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900"
  >
    @for (filter of typeFilters(); track $index) {
    <li class="card rounded-none">
      @if(typeSelected() === filter.name) {
      <a
        class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
        >{{ filter.name }}</a
      >
      } @else {
      <a href="#" (click)="filterByType(filter.name)">{{ filter.name }}</a>
      }
    </li>
    }
  </ul>
</form>
<!-- 
 <input id="draft" class="peer/draft" type="radio" name="status" checked />
 -->
