<app-sidebar-mobile
  [showSideBarMenu]="sidebarMobile"
  (toggle)="toggleSidebarMenu()"
></app-sidebar-mobile>

<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div
    class="flex items-baseline justify-between border-b border-gray-200 pb-6 pt-10"
  >
    <h1 class="text-4xl font-bold tracking-tight text-gray-900">Pokedex</h1>
    <div class="flex items-center">
      <button
        (click)="toggleSidebarMenu()"
        type="button"
        class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 sm:ml-6 lg:hidden"
      >
        <span class="sr-only">Filters</span>
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 01.628.74v2.288a2.25 2.25 0 01-.659 1.59l-4.682 4.683a2.25 2.25 0 00-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 018 18.25v-5.757a2.25 2.25 0 00-.659-1.591L2.659 6.22A2.25 2.25 0 012 4.629V2.34a.75.75 0 01.628-.74z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>

  <section aria-labelledby="products-heading" class="pb-24 pt-6">
    <h2 id="products-heading" class="sr-only">Pokemons</h2>

    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
      <app-sidebar />

      <!-- Product grid -->
      <div class="lg:col-span-3">
        <div class="bg-white">
          <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            @if(!pokemonsLoading()) {
            <div
              class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
            >
              @for (pokemon of pokemons(); track $index) {
              <app-pokemon-list-card
                [pokemonInfo]="pokemon"
              ></app-pokemon-list-card>
              }
            </div>
            } @else {
            <div class="flex items-center justify-center">
              <app-pokeball-loader />
            </div>
            } @if(!pokemonsLoading() && pokemons().length === 0) {
            <div class="grid grid-cols-1 place-items-center">
              <div>
                <app-pokeball-loader />
              </div>
              <div>
                <p
                  class="text-4xl mt-10 font-bold tracking-tight text-gray-900"
                >
                  NO POKEMONS FOUND
                </p>
              </div>
            </div>
            } @if(!pokemonsLoading() && pokemons().length > 0) {
            <div class="mt-10 w-full flex justify-center">
              <button
              (click)="loadMorePokemons()"
                type="button"
                class="text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800 inline-flex items-center"
              >
                @if(pokemonsLoadingMore()) {
                <svg
                  aria-hidden="true"
                  role="status"
                  class="inline w-4 h-4 me-3 text-white animate-spin"
                  viewBox="0 0 100 101"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB"
                  />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor"
                  />
                </svg>
                } Load more
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
