<div class="mt-10 px-4 sm:px-6 lg:px-8 border-t border-emerald-200 pt-4">
  <div class="font-medium text-emerald-900">Chain Evolution</div>
  <div class="mt-2 text-sm text-gray-500">
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 mb-10"
    >
      <img
        (click)="refreshInfo('pokemonName')"
        src="https://tailwindui.com/plus/img/ecommerce-images/product-feature-03-detail-01.jpg"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="rounded-lg border border-emerald-400 bg-gray-200 cursor-pointer"
      />
    </div>
  </div>
</div>
