<div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
  <img
    src="https://tailwindui.com/plus/img/ecommerce-images/product-feature-03-detail-01.jpg"
    alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
    class="rounded-lg border border-emerald-400 bg-gray-200"
  />
  <img
    src="https://tailwindui.com/plus/img/ecommerce-images/product-feature-03-detail-01.jpg"
    alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
    class="rounded-lg border border-emerald-400 bg-gray-200"
  />
  <img
    src="https://tailwindui.com/plus/img/ecommerce-images/product-feature-03-detail-01.jpg"
    alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
    class="rounded-lg border border-emerald-400 bg-gray-200"
  />
  <img
    src="https://tailwindui.com/plus/img/ecommerce-images/product-feature-03-detail-01.jpg"
    alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
    class="rounded-lg border border-emerald-400 bg-gray-200"
  />
</div>
